main {
    flex: 1;
    padding: 50px;
    text-align: center; 
    color: #541388;
}

.main-heading {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

.main-paragraph {
    font-size: 1.2rem; 
    line-height: 1.5;
    max-width: 800px; 
    margin: 0 auto;
}

li {
    text-align: left; 
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
}

#site-footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #880D1E;
    color: white;
}

.puzzle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
}

.puzzle-item {
    text-align: center; 
    background-color: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.puzzle-item img {
    width: 100%; 
    height: auto;
    max-height: 150px; 
}
